* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----header---- */
.header {
    height: 20vh !important;
}
.carousel1 {
    height: 100% !important;
}

.carousel1 div {
height: 100% !important;
}
.carousel-item img {
    width: 100% !important;
    height: 14rem !important;
    object-fit: cover;
    object-position: center;
}
h2 {
    background-color: rgba(138, 135, 135, 0.486);
    font-size: 45px;
}
.nav {
    height: 15vh !important;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid black;
    background-color: rgb(34, 34, 34);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    border: 2px solid red; 
}
.ancos {
    text-decoration: none;
    font-size: 15px;
    color: black;
    border: 1px solid black;
    padding: 0.2rem;
    gap: 1rem;
    background-color: white;
    border-radius: 5px;
}
.logo {
    width: 10rem !important;
    padding: 0.2rem;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.897);
}
/* ----main---- */
.main {
    min-height: 50vh !important;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}
.checkbox {
    display: flex;
    padding: 1rem;
    background-color: blue;
    border: 2px solid green;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.7rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.card {
    width: 16rem;
    height: 18rem;
    padding: 1rem;
    text-align: center;
    object-fit: cover;
    font-size: 11px;
}
.label{
    background-color: rgba(253, 253, 253, 0.801);border: 2px solid black;
    font-size: 16px;    
}

/*---- footer ----- */
.vh10 {
    display: flex;
    flex-direction: column;
    height: 15vh !important;
    background-color: rgb(34, 33, 33);
    color: white;
    font-size: 15px;
    text-align: center;
}

@media (min-width: 768px) and (max-width:1440px) {
    .nav{
        height: 10rem !important;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
    .ancos{
        font-size: 20px;
        padding: 0.5rem;
        gap: 1rem !important;
    }
    .logo{
        width: 15rem !important;
        background-color: white;
    }
    .vh10 {
        height: 8rem !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        border: 2px solid red;

    }

    
}
