* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* **index** */
/* ----header---- */
.header {
    height: 25vh !important;
}
.carousel1 {
    height: 100% !important;
}

.carousel1 div {
height: 100% !important;
}
.carousel-item img {
    width: 100% !important;
    height: 15rem !important;
    object-fit: cover;
    object-position: center;
}
h1 {
    background-color: rgba(228, 220, 220, 0.633);
    font-size: 45px;
}
.nav {
    height: 10vh !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(34, 34, 34);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.ancos {
    text-decoration: none;
    font-size: 18px;
    color: black;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: white;
    border-radius: 5px;
}
.logo {
    width: 10rem !important;
    padding: 0.2rem;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.897);
}
.contenedor1{
    padding: 2rem;
    flex-wrap: wrap; 
}
/* ----main---- */
.main {
    min-height: 55vh !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(211, 218, 215);
}
.checkbox {
   align-items: center;
  padding: 1rem;
  background-color: dimgrey;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;   
}
.card {
    width: 15rem;
    height: 20rem;
    padding: 1rem;
    text-align: center;
    object-fit: cover;
    font-size: 12px;
}
.input{
    margin-left: 1rem;
}
.input1{
    width: 20rem;
    margin-left: 10rem;
}
.label{
    background-color: rgba(253, 253, 253, 0.801);border: 2px solid black;
    font-size: 16px; 
    margin-left: 1rem;
}
/*---- footer ----- */
.vh10 {
    display: flex;
 justify-content: space-between;
    height: 15vh !important;
    background-color: rgb(34, 33, 33);
    color: white;
    align-items: center;
   padding: 0.2rem;   
}
.texto1{
    font-size: 18px;
    margin-left: 1rem;
    margin-right: 1rem;
}
.iconos{
    width: 18rem !important;
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.iconoimg{
    width: 100%;
    background-color: white;
    border-radius: 100%;
    padding: 0.2rem;
}
.texto2{
    width: 3rem;
    height: 2rem;
}

@media (min-width: 320px) and (max-width:768px) {
    .nav{
        height: 12rem !important;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .ancos{
        font-size: 15px;
        padding: 0.5rem;
        gap: 2rem !important;
    }
    .logo{
        width: 8rem !important;
        background-color: white;
    }
    .main{
        flex-direction: column;
        width: 100%;
    }
    .vh10 {
        height: 8rem !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
    }
    .input1{
        width: 10rem;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .card {
        row-gap: 1rem;
    }
    .vh10{
        flex-direction: column;
        font-size: 12px;
    }
    .texto1{
    font-size: 15px;
    }
    .iconos{
        width: 10rem !important;
        height: 5rem;
        display: flex;
      flex-direction: column;
        align-items: center;
    }
    .texto2{
        width: 2rem;
        height: 2rem;
        gap: 0.5rem;
    }
    .cards {
        margin-bottom: 2rem;
        gap: 0.5rem;
    }
    .carousel-item img{
        height: 17rem  !important;
    }
} 
/* **contact** */ 
.contacto{
    min-height: 40rem !important;
    padding: 1rem;
    display: flex;
justify-content: center;
align-items: center;
}
.datos{
    height: 30rem;
    padding: 1rem;  
}
.dato1{
    width: 25rem;
    height: 2rem;
}
.dato2{
    width: 10rem;
    text-align: center;
}
/* ------- */
.bloque1{
    display: flex;
    border: 2px solid rgb(203, 0, 0);
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 15rem;
}
.titulodat{
padding: 0.
}
.contenedor5{
    display: flex;
    flex-direction: column;
}
